{
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
      "ecmaVersion": 2019,
      "sourceType": "module",
      "ecmaFeatures": {
        "jsx": true,
        "ts" : true
      }
    },
    "plugins": [
      "jest", 
      "@typescript-eslint"
    ],
    "extends": [
      "eslint:recommended",
      "eslint-config-prettier",
      // "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
      "strict": [ "error", "never"],
      "@typescript-eslint/no-unused-vars": "off"
    },
    "overrides": [
      {
        "files": [
          "**/*.test.js",
          "**/*.test.jsx",
          "**/*.spec.js",
          "**/*.spec.jsx"
        ],
        "env": {
          "jest": true
        }
      }
    ],
    "env": {
      "browser": true,
      "node": true,
      "commonjs": true,
      "es6": true
    }
  }